<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>door-view</title>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <video id="video" autoplay muted playsinline></video>
    <div id="status">подключение...</div>
    <button onclick="window.location.href='/records'">Записи</button>
    <script src="/static/script.js"></script>
    <script>loadStream();</script>
</body>
</html>